/** Layout */

#app {
  color: $font-color;
}

.app-wrapper {
  // Sidebar
  .sidebar-container {
    background-color: lighten($theme-bg-color, 2%);
    .el-menu {
      background-color: lighten($theme-bg-color, 2%) !important;
      .el-menu-item {
        background-color: lighten($theme-bg-color, 2%) !important;
        &.is-active,
        &:hover {
          background-color: lighten($theme-bg-color, 6%) !important;
          color: $active-font-color !important;
        }
      }
    }
    .el-sub-menu__title {
      background-color: lighten($theme-bg-color, 2%) !important;
    }
    .el-sub-menu {
      &.is-active {
        > .el-sub-menu__title {
          color: $active-font-color !important;
        }
      }
    }
  }

  // Header
  .layout-header {
    background-color: $theme-bg-color;
    border-bottom: 1px solid lighten($theme-bg-color, 10%) !important;
  }

  // Top Navigation Bar
  .navigation-bar {
    background-color: $theme-bg-color;
    .right-menu {
      .svg-icon {
        color: $font-color;
      }
    }
  }
}
