/** clear float */
%clearfix {
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}

/** Beautify native scroll bars */
%scrollbar {
  // entire scroll bar
  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  //scroll slider on scroll bar
  &::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #90939955;
  }
  &::-webkit-scrollbar-thumb:hover {
    background-color: #90939977;
  }
  &::-webkit-scrollbar-thumb:active {
    background-color: #90939999;
  }
  // The intersection when there are both vertical scroll bars and horizontal scroll bars
  &::-webkit-scrollbar-corner {
    background-color: transparent;
  }
}

/** Show ellipses when text overflows */
%ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
