:root {
  --cfm-body-bg-color: #f2f3f5;
  --cfm-header-height: calc(var(--cfm-navigationbar-height) + 20px);
  --cfm-header-bg-color: #ffffff;
  --cfm-navigationbar-height: 50px;
  --cfm-sidebar-width: 220px;
  --cfm-sidebar-hide-width: 58px;
  --cfm-sidebar-menu-item-height: 60px;
  --cfm-sidebar-menu-tip-line-bg-color: var(--el-color-primary);
  --cfm-sidebar-menu-bg-color: #001428;
  --cfm-sidebar-menu-hover-bg-color: #409eff10;
  --cfm-sidebar-menu-text-color: #c0c4cc;
  --cfm-sidebar-menu-active-text-color: #ffffff;
}

body.content-large {
  --cfm-header-height: 20px;
  --cfm-navigationbar-height: 0px;
  --cfm-sidebar-width: 0px;
  --cfm-sidebar-hide-width: 0px;
}
